[package]
name = "controller"
version = "0.7.0"
authors = ["clux <sszynrae@gmail.com>"]
edition = "2018"

[[bin]]
doc = false
name = "controller"
path = "src/main.rs"

[lib]
name = "controller"
path = "src/lib.rs"

[dependencies]
actix-rt = "1.1.1"
actix-web = "3.0.0"
futures = "0.3.5"
tokio = { version = "0.2.22", features = ["macros"] }
prometheus = "0.10.0"
kube = { version = "0.42.0", features = ["derive"] }
kube-runtime = "0.42.0"
k8s-openapi = { version = "0.9.0", features = ["v1_18"], default-features=false }
serde = { version = "1.0.115", features = ["derive"] }
serde_json = "1.0.57"
chrono = { version = "0.4.15", features = ["serde"] }
color-eyre = "0.5.2"
snafu = "0.6.8"
tracing = "0.1.19"
tracing-subscriber = "0.2.11"
tracing-futures = "0.2.4"
