[package]
name = "controller"
version = "0.11.6"
authors = ["clux <sszynrae@gmail.com>"]
edition = "2021"
default-run = "controller"
license = "Apache-2.0"
publish = false

[[bin]]
doc = false
name = "controller"
path = "src/main.rs"

[[bin]]
doc = false
name = "crdgen"
path = "src/crdgen.rs"

[lib]
name = "controller"
path = "src/lib.rs"

[features]
default = []
telemetry = ["tonic", "opentelemetry-otlp"]

[dependencies]
actix-web = "4.0.1"
futures = "0.3.21"
tokio = { version = "1.16.1", features = ["macros", "rt-multi-thread"] }
k8s-openapi = { version = "0.14.0", features = ["v1_22"], default-features = false }
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
chrono = { version = "0.4.19", features = ["serde"] }
thiserror = "1.0.30"
schemars = { version = "0.8.8", features = ["chrono"] }
serde_yaml = "0.8.23"
tracing = "0.1.32"
tracing-subscriber = { version = "0.3.1", features = ["json", "env-filter"] }
tracing-opentelemetry = "0.17.2"
opentelemetry = { version = "0.17.0", features = ["trace", "rt-tokio"] }
opentelemetry-otlp = { version = "0.10.0", features = ["tokio"], optional = true }
prometheus = "0.13.0"
# Can't upgrade this until opentelemetry-otlp upgrades it
tonic = { version = "0.6.2", optional = true }

# exemplar support (broken atm)
#prometheus = { git = "https://github.com/clux/rust-prometheus.git", rev = "c9f7ea9652e27cd2d872937c5efbe72f20db0d5e" }
#prometheus = { path = "../rust-prometheus" }

[dependencies.kube]
features = ["runtime", "client", "derive"]
#version = "0.70.0"

# testing new releases - ignore
git = "https://github.com/kube-rs/kube-rs.git"
rev = "dd0b2585729dab5c140ab96dc35c00484cc992bc"
