[package]
name = "controller"
version = "0.12.4"
authors = ["clux <sszynrae@gmail.com>"]
edition = "2021"
default-run = "controller"
license = "Apache-2.0"
publish = false

[[bin]]
doc = false
name = "controller"
path = "src/main.rs"

[[bin]]
doc = false
name = "crdgen"
path = "src/crdgen.rs"

[lib]
name = "controller"
path = "src/lib.rs"

[features]
default = []
telemetry = ["tonic", "opentelemetry-otlp"]

[dependencies]
actix-web = "4.2.1"
futures = "0.3.24"
tokio = { version = "1.19.2", features = ["macros", "rt-multi-thread"] }
k8s-openapi = { version = "0.16.0", features = ["v1_24"], default-features = false }
schemars = { version = "0.8.10", features = ["chrono"] }
serde = { version = "1.0.144", features = ["derive"] }
serde_json = "1.0.85"
serde_yaml = "0.9.13"
prometheus = "0.13.2"
chrono = { version = "0.4.22", features = ["serde"] }
tracing = "0.1.35"
tracing-subscriber = { version = "0.3.12", features = ["json", "env-filter"] }
tracing-opentelemetry = "0.18.0"
opentelemetry = { version = "0.18.0", features = ["trace", "rt-tokio"] }
opentelemetry-otlp = { version = "0.11.0", features = ["tokio"], optional = true }
tonic = { version = "0.8.1", optional = true }
thiserror = "1.0.35"

[dependencies.kube]
features = ["runtime", "client", "derive"]
version = "0.76.0"

# testing new releases - ignore
#git = "https://github.com/kube-rs/kube-rs.git"
#rev = "8dcd5c0865ad0a40520519032119fbe4ea5f85f7"
#path = "../kube-rs/kube"
