[package]
name = "controller"
version = "0.12.5"
authors = ["clux <sszynrae@gmail.com>"]
edition = "2021"
default-run = "controller"
license = "Apache-2.0"
publish = false

[[bin]]
doc = false
name = "controller"
path = "src/main.rs"

[[bin]]
doc = false
name = "crdgen"
path = "src/crdgen.rs"

[lib]
name = "controller"
path = "src/lib.rs"

[features]
default = []
telemetry = ["tonic", "opentelemetry-otlp"]

[dependencies]
actix-web = "4.3.1"
futures = "0.3.28"
tokio = { version = "1.28.2", features = ["macros", "rt-multi-thread"] }
k8s-openapi = { version = "0.18.0", features = ["v1_25"], default-features = false }
schemars = { version = "0.8.12", features = ["chrono"] }
serde = { version = "1.0.163", features = ["derive"] }
serde_json = "1.0.96"
serde_yaml = "0.9.21"
prometheus = "0.13.3"
chrono = { version = "0.4.26", features = ["serde"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["json", "env-filter"] }
tracing-opentelemetry = "0.19.0"
opentelemetry = { version = "0.19.0", features = ["trace", "rt-tokio"] }
opentelemetry-otlp = { version = "0.12.0", features = ["tokio"], optional = true }
tonic = { version = "0.9.2", optional = true }
thiserror = "1.0.40"
anyhow = "1.0.71"

[dev-dependencies]
assert-json-diff = "2.0.2"
http = "0.2.9"
hyper = "0.14.26"
tower-test = "0.4.0"

[dependencies.kube]
features = ["runtime", "client", "derive"]
version = "0.83.0"

# testing new releases - ignore
#git = "https://github.com/kube-rs/kube.git"
#rev = "740111f37ea5b25acc1cb0df9e2cf49a01546416"
#path = "../kube/kube"
